# Create DataFrames

In [11]:
import pandas as pd

### Method 1: Nested List

In [12]:
data = [['Logistic Lemongrass', 15],
        ['Jupyter Jasmine', 13],
        ['Allspice Arrays', 15]
       ]

df = pd.DataFrame(data, index=['A', 'B', 'C'], columns=['name', 'students'])

In [13]:
df

                  name  students
A  Logistic Lemongrass        15
B      Jupyter Jasmine        13
C      Allspice Arrays        15

### Method 2: Dictionary

In [19]:
data = {
    'name': ['Logistic Lemongrass', 'Jupyter Jasmine', 'Allspice Arrays'],
    'students': [15, 13, 15]
}

df = pd.DataFrame(data, index=['A', 'B', 'C'])
df

                  name  students
A  Logistic Lemongrass        15
B      Jupyter Jasmine        13
C      Allspice Arrays        15

### Method 3: Numpy

In [20]:
import numpy as np

In [39]:
a = np.arange(25000).reshape(5000, 5)  # -1 instead of 5000 works, too
a

array([[    0,     1,     2,     3,     4],
       [    5,     6,     7,     8,     9],
       [   10,    11,    12,    13,    14],
       ...,
       [24985, 24986, 24987, 24988, 24989],
       [24990, 24991, 24992, 24993, 24994],
       [24995, 24996, 24997, 24998, 24999]])

In [46]:
pd.DataFrame(a, index=list('abcde' * 1000), columns=list('ABCDE'))

        A      B      C      D      E
a       0      1      2      3      4
b       5      6      7      8      9
c      10     11     12     13     14
d      15     16     17     18     19
e      20     21     22     23     24
..    ...    ...    ...    ...    ...
a   24975  24976  24977  24978  24979
b   24980  24981  24982  24983  24984
c   24985  24986  24987  24988  24989
d   24990  24991  24992  24993  24994
e   24995  24996  24997  24998  24999

[5000 rows x 5 columns]

### Method 4: Read from a file

In [50]:
pd.read_csv('/home/kristian/Desktop/data/gapminder/grosse_laender_2015.csv',
            index_col=0)  # <-- put first column in the index

                 population  fertility      continent
Bangladesh     1.609956e+08       2.12           Asia
Brazil         2.078475e+08       1.78  South America
China          1.376049e+09       1.57           Asia
India          1.311051e+09       2.43           Asia
Indonesia      2.575638e+08       2.28           Asia
Japan          1.265735e+08       1.45           Asia
Mexico         1.270172e+08       2.13  North America
Nigeria        1.822020e+08       5.89         Africa
Pakistan       1.889249e+08       3.04           Asia
Philippines    1.006994e+08       2.98           Asia
Russia         1.434569e+08       1.61         Europe
United States  3.217736e+08       1.97  North America