In [38]:
dates = ['2020-01-01', '2020-01-04', '2020-01-05', '2020-01-09', '2020-01-11',
         '2020-01-01', '2020-01-07', '2020-01-11']
places = ['berlin', 'oslo', 'belgrade', 'berlin', 'checkout',
          'lisbon', 'beijing', 'checkout']
person = [1, 1, 1, 1, 1, 2, 2, 2]

In [39]:
import pandas as pd

In [40]:
df = pd.DataFrame({'place': places, 'id': person}, index=pd.to_datetime(dates))

In [41]:
df = df.groupby('id').resample('D').ffill()

In [42]:
df.drop('id', axis=1, inplace=True)

In [43]:
df = df.reset_index().set_index('level_1')

In [44]:
df['before'] = df['place'].shift(1)
df

            id     place    before
level_1
2020-01-01   1    berlin       NaN
2020-01-02   1    berlin    berlin
2020-01-03   1    berlin    berlin
2020-01-04   1      oslo    berlin
2020-01-05   1  belgrade      oslo
2020-01-06   1  belgrade  belgrade
2020-01-07   1  belgrade  belgrade
2020-01-08   1  belgrade  belgrade
2020-01-09   1    berlin  belgrade
2020-01-10   1    berlin    berlin
2020-01-11   1  checkout    berlin
2020-01-01   2    lisbon  checkout
2020-01-02   2    lisbon    lisbon
2020-01-03   2    lisbon    lisbon
2020-01-04   2    lisbon    lisbon
2020-01-05   2    lisbon    lisbon
2020-01-06   2    lisbon    lisbon
2020-01-07   2   beijing    lisbon
2020-01-08   2   beijing   beijing
2020-01-09   2   beijing   beijing
2020-01-10   2   beijing   beijing
2020-01-11   2  checkout   beijing

In [46]:
df = df[df['before'] != 'checkout']  # could replace by 'entrance'
df.fillna('entrance', inplace=True)

In [49]:
df.groupby(['place', 'before']).count()['id'].unstack()

before    beijing  belgrade  berlin  entrance  lisbon  oslo
place
beijing       3.0       NaN     NaN       NaN     1.0   NaN
belgrade      NaN       3.0     NaN       NaN     NaN   1.0
berlin        NaN       1.0     3.0       1.0     NaN   NaN
checkout      1.0       NaN     1.0       NaN     NaN   NaN
lisbon        NaN       NaN     NaN       NaN     5.0   NaN
oslo          NaN       NaN     1.0       NaN     NaN   NaN

In [52]:
pd.crosstab(df['place'], df['before'], normalize=0) # <-- 0 axis

before    beijing  belgrade  berlin  entrance  lisbon  oslo
place
beijing      0.75      0.00     0.0       0.0    0.25  0.00
belgrade     0.00      0.75     0.0       0.0    0.00  0.25
berlin       0.00      0.20     0.6       0.2    0.00  0.00
checkout     0.50      0.00     0.5       0.0    0.00  0.00
lisbon       0.00      0.00     0.0       0.0    1.00  0.00
oslo         0.00      0.00     1.0       0.0    0.00  0.00